@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #060809;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #56dabfc4;
    text-decoration: none;
    /* text-shadow: 2px 2px 4px rgba(147, 235, 218, 0.99); */
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30, 35, 38, 0.079), rgba(68, 78, 84, 0.45)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    background-color: #0a0500d7;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner:hover{
     box-shadow: 0px 2px 30px rgb(28, 182, 152, 0.583);
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #98cac0;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-family: 'Righteous';
    text-shadow: 2px 2px 4px rgb(28, 182, 152, 0.583);
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}
/* ************SOBRE MI******** */
.separador{
    width: 100%;
    height: 50px;
    background-color: #131517b5;
    background: linear-gradient(to top, rgba(30, 35, 38, 0.342), rgba(68, 78, 84, 0.45)),
    url(./img/wood.jpg);
    background-size: cover;
}
.sobremi{
    background: linear-gradient(to top, rgba(30, 35, 38, 0.342), rgba(68, 78, 84, 0.45)),
    url(./img/sobreMi.jpg);
    background-size: cover;
    /* background-color: #1e2326ca; */
    color: #fff;
   
    padding: 1rem;
}
.sobremi .contenido-seccion{
    width: 100%;
    margin: auto;
    /* background-color: red; */
    padding: 1rem;
}
.sobremi h2{
    font-size: 2.3rem;
    /* font-family: 'Righteous'; */
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgb(28, 182, 152, 0.583);
}
.sobremi h3{
    font-size: 2rem;
    /* font-family:'Righteous'; */
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgb(28, 182, 152, 0.583);
}
.sobremi .contenido-seccion p{
    font: 2rem;
    line-height: 22px;
    margin-bottom: 20px;
    background-color: #131517c6;
    padding: 1rem;
}
.sobremi .contenido-seccion .description_me{
    /* background-color: chartreuse; */
    width: 90%;
    min-height: 100px;
    padding: 1rem;
    font-size: 1.5rem;
    margin: auto;
    text-align: justify;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

/* *********INTERESES************ */
.col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    width: 60%;
    margin-top: 1rem;
    margin: auto;
}
.col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #0a9075;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.col .contenedor-intereses .interes:hover{
    background-color: #29a2cadb;
    
}
.col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: #900a8cc3;
    border: none;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    padding:1rem;
}

.sobremi button a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f225b5;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION S K I L L S */
.skills{
    background: linear-gradient(to top, rgba(30, 35, 38, 0.342), rgba(68, 78, 84, 0.45)),
    url(./img/skill.jpg);
    background-size: cover;
    /* background-color: #1f7ecd; */
    color: #fff;
    padding: 50px 20px; 
}

.skills .contenido-seccion{
    width: 100%;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgb(28, 182, 152, 0.583);

}

.herramientas{
    background-color: rgba(53, 49, 46, 0.523);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
    
}

.herramientas .interes{
    width: 100px;
    height: 100px;
    background-color: #fbf5f5cb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    transition: .3s;
    color: #060809;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.756);
    padding: 1rem;
}

.herramientas .interes:hover{
    background-color:#fbf5f5fb;
    box-shadow: 0px 2px 10px rgb(28, 182, 152, 0.583);
}

.herramientas .interes .img-interes{
    width: 80%;
    /* background-color: red; */
}


.skills .fila{
    display: block;
}
.skills .fila .col{
    width: 100%;
    padding: 2rem;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-shadow: 2px 2px 10px rgb(28, 182, 152, 0.583);
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill{
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 100%;}
}



/* SECCION PORTFOLIO */
.portfolio{
    background: linear-gradient(to top, rgba(93, 124, 143, 0.342), rgba(68, 78, 84, 0.45)),
    url(/img/porta.jpg);
    background-size: cover;
    color: #fff;
    padding: 50px 20px;
}
.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    background-color: #26272699;
}
.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 4px rgb(28, 182, 152, 0.583);
}
.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}
.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}
.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}
.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #000c0ad6;
    color: #ffffff;
    padding: 50px 0;
    overflow: hidden;
}
.contacto .contenido-seccion{
    width: 65%;
    margin: auto;
    background-color: #0a90758e;
}
.contacto h2{
    font-size: 3rem;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 10px rgb(28, 182, 152, 0.583);

}
.contacto .fila{
    display: flex;
    justify-content: center;
    margin: auto;
    width:80%;
}
.contacto .col{
    width: 80%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 1rem;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: 60%;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}

/* ***********FOOTER*********** */
footer{
    background-color: #060606;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    background-color: #1CB698;
    transform: .2s;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

footer .arriba:hover{
    background-color: #fcfbf9;
    color: #0a9075;
    cursor: pointer;
}


/* SECCION RESPONSIVE */


@media (max-width: 425px){

    .inicio .contenido-banner{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    margin-top: 5.5rem;
}

    .inicio .contenido-banner h1{
    font-size: 2rem;
}

    .herramientas{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.portfolio h2{
    font-size: 2rem;
}

    .contacto h2{
    font-size: 2rem;
}

}

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}



@media screen and (max-width:700px){


    .herramientas{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
    }

    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .portfolio .galeria{
        display: block;
        width: 100%;
    }
    .portfolio .galeria .proyecto{
        max-width: 100%;
    }
    .portfolio .galeria .proyecto img{
        width: 100%;
    }
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}




